$theme-content-width = $theme-main-width
$theme-cs-font-size = 1rem
$theme-cs-category-border-color = #e4e4e4
$theme-cs-category-border-width = 3px
$theme-cs-item-counter = 5
$theme-subtitle-padding-left = 10px
$theme-item-more-width =60px
$theme-item-width = $theme-content-width
$subtitle-width = 150px
$content-padding = 20px
$iconfont-margin-bottom = 15px
$subtitle-width = 100px
$subtitle-height = 25px
$subtitle-border-width = 2px
.cool-site
	position:relative
	margin: 0 auto
	margin-bottom: 10px
	width: $theme-content-width
	font-size: $theme-cs-font-size
	line-height: 25px
	color: #555
	background-color: white
	a
		color: #555
	.cool-site__category
		padding: 10px 0
		font-size: 16px
		font-weight: bold
		background-color: #DBE1F7
		text-align: center
	.subTitle
		margin: 20px 0 10px
		text-align: left
		.link
			padding: 3px 80px 3px 10px
			font-weight: bold
			background: -ms-linear-gradient(left,#B7DBF7, #ffffff 100%);
			background-image: -webkit-linear-gradient(left, #B7DBF7, white);
	.cool-site__panel
		position: relative
		padding: 0 0 10px
	.panel-item
		position: relative
		margin-bottom: 20px
	.cool-site__list
		padding: 10px 0
		font-size: 0
		width: 100%
		.cool-site__list-item
			display: inline-block
			width: 20%
			line-height: 2
			font-size: 14px
			vertical-align: middle
			cursor: pointer
			&.image-tip
				position: relative
			a:hover
				color: #da5555
				text-decoration: underline