@import 'reset'
@import 'common'
@import 'theme_default'
@import 'plugins'
@import 'topbar'
@import 'headerbar'
@import 'search'
@import 'unslider'
@import 'hot_news'
// @import 'login'
// @import 'menu'
@import 'cool_site'
@import 'footer'

body
	background-color: $theme-main-bg-color

.highlight
	background-color: yellow

// main
.main
	margin: 0 auto
	width: $theme-main-width
	overflow: hidden
	font-family:MicrosoftYahei
	.sider
		float: left
		width: $theme-sidebar-width
	.content
		float: right
		width $theme-content-width
		