$theme-main-width = 1200px // 主体宽度
$theme-main-color = #2b87e2 // 主题色
$theme-content-width = 900px // 右边内容宽度
$theme-sidebar-width = 280px // 左边导航栏宽度
$theme-main-bg-color = #f3f3f3

// common
$theme-box-border-color = #ddd
$theme-font-size = 14px
$theme-text-color = #333
a
	color: $theme-text-color

// topbar
$theme-topbar-bg-color = #284d7e

// cool-site
$theme-cs-hover-bg-color = #f3fcfe
$theme-cs-subtitle-color = #07519a

// menu
$theme-icon-url = '/static/images/left_logo.png'

// footer
$theme-footer-bg-color = #667C9F
$theme-footer-text-color = #343C48